
<a href="/" id="nolinks">
<nav class="navbar navbar-light azure">
  <a class="navbar-brand" href="/">
    <img src="../../../static/Hawaiian Shirt.png" width="70" height="70" class="d-inline-block align-center">
  </a>
	<h1 class="display-4">{{ config.SITE_NAME }}</h1>
	{% if config.SITE_DESCRIPTION %} - {% endif %} <i>{{ config.SITE_DESCRIPTION }}</i>
<!--</nav>-->
<div class="login">
	{% if current_user.is_authenticated %}
<!--	<b {% if current_user.admin %} style="color: red;" {% endif %}>{{ current_user.username }}</b><a class="logoutlink" href="/action_logout">(logout)</a>-->
	<b {% if current_user.admin %} style="color: red;" {% endif %}><a href="/user/{{ current_user.username }}">{{ current_user.username }}</a></b>
	<a href="/edit/{{ current_user.username }}">edit profile</a><a class="logoutlink" href="/action_logout">(logout)</a>
	{% else %}
	<a href="/loginform">Click here to login or register!</a>
	{% endif %}
</div>
</nav>